# Basic Python Exercises_1

This is an optional exercise to test your understanding of Python Basics. 
In This excercise we are going to solve basics of python language related questions.

### Exercises
Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

##### What is 7 to the power of 4?

In [1]:
7**4

2401

#### Split this string:**

#### s = "Hi there Yogesh!"

#### into a list.

In [2]:
s='Hi there Yogesh!'

In [3]:
s.split()

['Hi', 'there', 'Yogesh!']

#### Given the variables:
#### planet = "Earth"

#### diameter = 12742
#### Use .format() to print the following string:
#### The diameter of Earth is 12742 kilometers.

In [4]:
planet='Earth'
diameter=12742

In [6]:
"The diameter of {} is {} kilometers.".format(planet,diameter)

'The diameter of Earth is 12742 kilometers.'

#### Given this nested list, use indexing to grab the word "hello"

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [10]:
lst[3]

[5, [100, 200, ['hello']], 23, 11]

In [11]:
lst[3][1]

[100, 200, ['hello']]

In [12]:
lst[3][1][2]

['hello']

In [13]:
lst[3][1][2][0]

'hello'

#### Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [16]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [19]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [20]:
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [21]:
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [22]:
d['k1'][3]['tricky'][3]['target']

[1, 2, 3, 'hello']

In [23]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

####  What is the main difference between a tuple and a list?

 Tuples are immutable.
 while lists are mutable in nature.

#### Create a function that grabs the email website domain from a string in the form: 
#### user@domain.com
#### So for example, passing "user@domain.com" would return: domain.com

In [24]:
d='xyz@gmail.com'

In [25]:
d.split('@')

['xyz', 'gmail.com']

In [26]:
d.split('@')[1]

'gmail.com'

In [27]:
def fun(x):
    return x.split('@')[1]

In [28]:
fun('shiv97@gmail.com')

'gmail.com'

#### Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [29]:
'This is a dog'.split()

['This', 'is', 'a', 'dog']

In [31]:
'dog' in 'This is a dog'.split()

True

In [34]:
'dog' in 'This is a Dog'.lower().split()

True

In [35]:
def find_fun(str):
    return 'dog' in str.lower().split()

In [36]:
find_fun('this is a DOG')

True

In [37]:
find_fun('This is a Dog')

True

####  Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [38]:
def count_dog(str):
    count=0
    for x in str.lower().split():
        if x=='dog':
            count+=1
    return count

In [40]:
count_dog('This dog run faster than other DOG')

2

####  Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:

In [41]:
seq = ['soup','dog','salad','cat','great']

#### should be filtered down to:

#### ['soup','salad']

In [42]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [44]:
lambda x:x[0]!='s'

In [45]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

In [47]:
list(filter(lambda x:x[0]=='s',seq))

['soup', 'salad']

#### You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [48]:
def caught_speeding(speed,is_birthday):
    if is_birthday:
        speed-=5 # adjust speed limit by 5 mph if it's your birthday
    if speed <= 60:
        return 'No Ticket'
    elif 61 <= speed <= 80:
        return 'Small Ticket'
    else:
        return 'Big Ticket'

In [49]:
caught_speeding(60,True)

'No Ticket'

In [50]:
caught_speeding(80,False)

'Small Ticket'

In [54]:
caught_speeding(85,False)

'Big Ticket'

In [58]:
caught_speeding(87,True)

'Big Ticket'

Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [1]:
a=input('Enter the number:')

Enter the number:34

In [2]:
a

'34'

In [3]:
type(a)

str

In [6]:
s=input('Enter the input: ')
num=""
data=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    num=num+s[0]
for c in s:
    if c in str(data):
        num=num+c
print(num)

Enter the input: -4fjhr90
-490

WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [18]:
n1=input('Enter the Number:')
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print('Number is:',n3)
    print('Reverse is:',n3[::-1])
print('Palindrom is ',n3)

Enter the Number:88
Number is: 847
Reverse is: 748
Number is: 1595
Reverse is: 5951
Number is: 7546
Reverse is: 6457
Number is: 14003
Reverse is: 30041
Number is: 44044
Reverse is: 44044
Palindrom is  44044

Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [23]:
def fun1():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))

In [24]:
fun1()

75313